<%- include src/html/docType.ejs -%>
<head>
    <%- include src/html/meta/common.ejs -%>
    <%- include src/html/meta/goods/index.ejs -%>
</head>
    <body>
        <%- include src/html/headerJs.ejs -%>

        <!-- write your DOM here -->
        <div id="app"></div>

    </body>
    <%- include src/html/footerJs.ejs -%>
</html>
